{{- $src := .cover -}}
{{- $remote := (urls.Parse $src).Scheme -}}
{{- $img := "" -}}
{{- if not $remote -}}
  {{- with .page.Resources.GetMatch $src }}{{ $img = . }}{{ else }}{{ with resources.Get $src }}{{ $img = . }}{{ end }}{{ end -}}
{{- end -}}
{{- $url := $src -}}
{{- with $img -}}
  {{- $url = .RelPermalink -}}
{{- else -}}
  {{- if not $remote }}{{ $url = urls.JoinPath site.BaseURL $src }}{{ end -}}
{{- end -}}
<img class="post-thumbnail" src="{{ $url | safeURL }}" alt="" loading="lazy" decoding="async"
  {{- with $img }}{{ with .Width }} width="{{ . }}"{{ end }}{{ with $img.Height }} height="{{ . }}"{{ end }}{{ end }}>
